.foto-home {
    width: 250px;
    border-radius: 75px;
    border: solid #FFF 2px;
    margin-bottom: 20px;
}

.img-projeto-1 {
    width: 350px;
    height: 200px;
}
.img-projeto-2 {
    width: 350px;
    height: 200px;
}
.img-projeto-3 {
    width: 350px;
    height: 200px;
}
.img-projeto-4 {
    width: 350px;
    height: 200px;
}

.img-projeto-5 {
    width: 350px;
    height: 200px;
}

.img-projeto-6 {
    width: 350px;
    height: 200px;
}
.img-projeto_1, .img-projeto_2, .img-projeto_3, .img-projeto-4, .img-projeto-5, .img-projeto-6{
    margin-bottom: 20px;
    width: 100%;
}

.fa-linkedin{
    color: white;
}

.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 125;
}